<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Ballots</h1>
    {% if ballot_list  %}
        <ul>
        {% for ballot in ballot_list %}
            <li>{{ ballot.text }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No ballots are available</p>
    {% endif %}
        <h2><a href="{% url 'polls:detail' request.resolver_match.kwargs.pk %}">Vote</a></h2>
        <h2><a href="{% url 'polls:result' request.resolver_match.kwargs.pk %}">Result</a></h2>
    </body>
</html>